.container {
width: 100vw;
height: 100vh;
}

img {
	max-width: 60vw;

}

body {
	font-size: 20px;
	font-family: gimlet-text, serif;
	font-weight: 500;
	font-style: normal;
    line-height: 1.4;
    max-width: 60%;
}

footer {
	border-top: solid;
	padding: 50px;
	margin: 50px;
}